In [31]:
# 소득 훈련파일 호출
import numpy as np
import pandas as pd

soduk = pd.read_csv('train.csv')
soduk

,ID,Age,Gender,Education_Status,Employment_Status,Working_Week (Yearly),Industry_Status,Occupation_Status,Race,Hispanic_Origin,...,Citizenship,Birth_Country,Birth_Country (Father),Birth_Country (Mother),Tax_Status,Gains,Losses,Dividends,Income_Status,Income
0,TRAIN_00000,63,M,Middle (7-8),Full-Time,4,Social Services,Services,White,All other,...,Native,US,US,US,Nonfiler,0,0,0,Unknown,425
1,TRAIN_00001,37,M,Associates degree (Vocational),Full-Time,52,Entertainment,Services,White,All other,...,Native,US,US,US,Single,0,0,0,Under Median,0
2,TRAIN_00002,58,F,High graduate,Full-Time,52,Manufacturing (Non-durable),Admin Support (include Clerical),Black,All other,...,Native,US,US,US,Married Filling Jointly both under 65 (MFJ),3411,0,0,Under Median,860
3,TRAIN_00003,44,M,High graduate,Full-Time,52,Retail,Technicians & Support,White,All other,...,Native,US,US,US,Single,0,0,0,Under Median,850
4,TRAIN_00004,37,F,High graduate,Full-Time,52,Retail,Sales,White,All other,...,Native,US,US,US,Head of Household (HOH),0,0,0,Unknown,570
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,TRAIN_19995,33,M,High graduate,Children or Armed Forces,52,Manufacturing (Durable),Handlers/Cleaners,White,All other,...,Native,US,US,US,Single,0,0,0,Under Median,1300
19996,TRAIN_19996,20,F,College,Full-Time,12,Education,Admin Support (include Clerical),White,Mexican-American,...,Native,US,Mexico,Mexico,Nonfiler,0,0,0,Under Median,850
19997,TRAIN_19997,22,M,College,Children or Armed Forces,52,Transportation,Technicians & Support,White,All other,...,Native,US,US,US,Single,0,0,0,Unknown,999
19998,TRAIN_19998,76,F,High graduate,Not Working,0,Not in universe or children,Unknown,White,All other,...,Native,US,Scotland,England,Single,0,0,0,Under Median,0
19999,TRAIN_19999,41,F,High graduate,Children or Armed Forces,52,Public Administration,Admin Support (include Clerical),White,All other,...,Native,US,US,US,Head of Household (HOH),0,0,0,Under Median,671

In [32]:
soduk.drop('ID', axis=1 ,inplace = True)

def classify_age(age):
    if age <= 17:
        return 'Child'
    elif 18 <= age <= 35:
        return 'Youth'
    elif 36 <= age <= 65:
        return 'Middle'
    else:
        return 'Silver'
soduk['Age_Category'] = soduk['Age'].apply(classify_age)

def Education(edu):
    if  edu == "High Freshman" or edu == "High Junior" or edu == "High Sophomore" or edu == "High Senior":
        return 'High'
    elif edu == "Elementary (5-6)" or edu == "Elementary (1-4)":
        return 'Elementary'
    elif edu == 'Middle (7-8)':
        return 'Middle'
    else:
        return edu
soduk['Education_Category'] = soduk['Education_Status'].apply(Education)

def classify_working_week(weeks):
    if weeks == 0:
        return 'Not_Working'
    elif 1 <= weeks <= 13:
        return 'Part-Time'
    elif 14 <= weeks <= 26:
        return 'Semi-Full-Time'
    else:
        return 'Full-Time'

soduk['Working_Category'] = soduk['Working_Week (Yearly)'].apply(classify_working_week)

def classify_country(country):
    if country == 'US' or country == 'Outlying-U S (Guam USVI etc)':
        return 'US'
    elif country in ['Mexico', 'Puerto-Rico', 'Cuba', 'Dominican-Republic', 'El-Salvador', 'Guatemala', 'Honduras', 'Nicaragua', 'Panama']:
        return 'North_America'
    elif country in ['Columbia', 'Ecuador', 'Peru']:
        return 'South_America'
    elif country in ['Philippines', 'India', 'South Korea', 'Vietnam', 'Japan', 'China', 'Taiwan', 'Hong Kong', 'Cambodia', 'Laos', 'Thailand']:
        return 'Asia'
    elif country in ['Germany', 'Canada', 'England', 'Poland', 'Italy', 'Portugal', 'Ireland', 'France', 'Greece', 'Scotland', 'Yugoslavia', 'Hungary', 'Holand-Netherlands']:
        return 'Europe'
    else:
        return 'Unknown'

soduk['Birth_Country_Category'] = soduk['Birth_Country'].apply(classify_country)

columns_to_encode = [
    'Age_Category', 'Gender', 'Education_Category', 'Working_Category', 
    'Occupation_Status', 'Race', 'Martial_Status', 'Household_Summary', 
    'Citizenship', 'Birth_Country_Category', 'Tax_Status', 'Income_Status'
]

# 지정된 열에 대해서만 원-핫 인코딩 적용
soduk_encoded = pd.get_dummies(soduk, columns=columns_to_encode)

# 드랍열 설정
columns_to_drop = [
    "Age", "Education_Status", "Employment_Status", "Working_Week (Yearly)", 
    "Industry_Status", "Hispanic_Origin", "Household_Status", 
    "Birth_Country", "Birth_Country (Father)", "Birth_Country (Mother)", 
    "Gains", "Losses", "Dividends"
]

# 지정된 열들을 드랍
soduk_encoded_dropped = soduk_encoded.drop(columns=columns_to_drop)

# 드랍된 이후의 데이터프레임 확인
soduk_encoded_dropped

,Income,Age_Category_Child,Age_Category_Middle,Age_Category_Silver,Age_Category_Youth,Gender_F,Gender_M,Education_Category_Associates degree (Academic),Education_Category_Associates degree (Vocational),Education_Category_Bachelors degree,...,Birth_Country_Category_Unknown,Tax_Status_Head of Household (HOH),Tax_Status_Married Filling Jointly both over 65 (MFJ),Tax_Status_Married Filling Jointly both under 65 (MFJ),Tax_Status_Married Filling Jointly one over 65 & one under 65 (MFJ),Tax_Status_Nonfiler,Tax_Status_Single,Income_Status_Over Median,Income_Status_Under Median,Income_Status_Unknown
0,425,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,True,False,False,False,True
1,0,False,True,False,False,False,True,False,True,False,...,False,False,False,False,False,False,True,False,True,False
2,860,False,True,False,False,True,False,False,False,False,...,False,False,False,True,False,False,False,False,True,False
3,850,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,True,False,True,False
4,570,False,True,False,False,True,False,False,False,False,...,False,True,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,1300,False,False,False,True,False,True,False,False,False,...,False,False,False,False,False,False,True,False,True,False
19996,850,False,False,False,True,True,False,False,False,False,...,False,False,False,False,False,True,False,False,True,False
19997,999,False,False,False,True,False,True,False,False,False,...,False,False,False,False,False,False,True,False,False,True
19998,0,False,False,True,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
19999,671,False,True,False,False,True,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False

In [36]:
# 선형회귀는 다음과 같이 진행한다. 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# 특성과 타겟 변수를 준비합니다.
X = soduk_encoded_dropped.drop(['Income'], axis=1) # 타겟 변수를 제외한 특성만 사용
y = soduk_encoded_dropped['Income'] # 타겟 변수

# 데이터를 훈련 세트와 테스트 세트로 나눕니다.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=41)

# 그래디언트 부스팅 회귀 모델 객체를 생성합니다.
gbr = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1,
                                max_depth=3, random_state=42)

# 훈련 데이터를 사용하여 모델을 학습시킵니다.
gbr.fit(X_train, y_train)

# 테스트 데이터에 대한 예측을 수행합니다.
y_pred_gbr = gbr.predict(X_test)

# 성능 평가
mse_gbr = mean_squared_error(y_test, y_pred_gbr)
r2_gbr = r2_score(y_test, y_pred_gbr)

print("그래디언트 부스팅 회귀의 평균 제곱 오차(MSE):", mse_gbr)
print("그래디언트 부스팅 회귀의 결정 계수(R^2):", r2_gbr)

C:\Users\elcco\anaconda3\Lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
C:\Users\elcco\anaconda3\Lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\elcco\anaconda3\Lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

그래디언트 부스팅 회귀의 평균 제곱 오차(MSE): 424412.3186704467
그래디언트 부스팅 회귀의 결정 계수(R^2): 0.24069401985298

C:\Users\elcco\anaconda3\Lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
C:\Users\elcco\anaconda3\Lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\elcco\anaconda3\Lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
C:\Users\elcco\anaconda3\Lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
C:\Users\elcco\anaconda3\Lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [37]:
# 소득 테스트파일 호출
import numpy as np
import pandas as pd

soduk1 = pd.read_csv('test.csv')
soduk1

,ID,Age,Gender,Education_Status,Employment_Status,Working_Week (Yearly),Industry_Status,Occupation_Status,Race,Hispanic_Origin,...,Household_Summary,Citizenship,Birth_Country,Birth_Country (Father),Birth_Country (Mother),Tax_Status,Gains,Losses,Dividends,Income_Status
0,TEST_0000,79,M,High Junior,Children or Armed Forces,0,Not in universe or children,Unknown,White,All other,...,Householder,Native,US,Unknown,Unknown,Single,0,0,0,Under Median
1,TEST_0001,47,M,Elementary (5-6),Children or Armed Forces,0,Not in universe or children,Unknown,White,Other Spanish,...,Child 18 or older,Native,US,US,US,Nonfiler,0,0,0,Under Median
2,TEST_0002,18,F,High Junior,Children or Armed Forces,52,Retail,Services,White,All other,...,Child 18 or older,Native,US,US,US,Single,0,0,0,Under Median
3,TEST_0003,39,F,Associates degree (Vocational),Full-Time,30,Medical (except Hospitals),Services,White,All other,...,Spouse of householder,Native,US,US,US,Married Filling Jointly both under 65 (MFJ),0,0,0,Unknown
4,TEST_0004,6,M,Children,Children or Armed Forces,0,Not in universe or children,Unknown,White,Mexican-American,...,Child under 18 never married,Native,US,US,US,Nonfiler,0,0,0,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,TEST_9995,31,M,Bachelors degree,Children or Armed Forces,52,Other professional services,Technicians & Support,White,All other,...,Householder,Native,US,US,US,Single,0,0,0,Under Median
9996,TEST_9996,27,M,College,Children or Armed Forces,52,Retail,Handlers/Cleaners,White,All other,...,Householder,Native,US,US,US,Married Filling Jointly both under 65 (MFJ),0,0,0,Under Median
9997,TEST_9997,18,M,High graduate,Children or Armed Forces,7,Retail,Services,Black,All other,...,Child 18 or older,Native,US,US,US,Nonfiler,0,0,0,Under Median
9998,TEST_9998,9,M,Children,Children or Armed Forces,0,Not in universe or children,Unknown,White,All other,...,Child under 18 never married,Native,US,US,US,Nonfiler,0,0,0,Under Median
9999,TEST_9999,34,M,High graduate,Full-Time,39,Retail,Management,White,All other,...,Spouse of householder,Native,US,US,US,Married Filling Jointly both under 65 (MFJ),0,0,0,Under Median

In [38]:
soduk1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID                      10000 non-null  object
 1   Age                     10000 non-null  int64
 2   Gender                  10000 non-null  object
 3   Education_Status        10000 non-null  object
 4   Employment_Status       10000 non-null  object
 5   Working_Week (Yearly)   10000 non-null  int64
 6   Industry_Status         10000 non-null  object
 7   Occupation_Status       10000 non-null  object
 8   Race                    10000 non-null  object
 9   Hispanic_Origin         10000 non-null  object
 10  Martial_Status          10000 non-null  object
 11  Household_Status        9999 non-null   object
 12  Household_Summary       10000 non-null  object
 13  Citizenship             10000 non-null  object
 14  Birth_Country           10000 non-null  object
 15  Birth_Country (Father)  10000 non-null  object
 16  Birth_Country (Mother)  10000 non-null  object
 17  Tax_Status              10000 non-null  object
 18  Gains                   10000 non-null  int64
 19  Losses                  10000 non-null  int64
 20  Dividends               10000 non-null  int64
 21  Income_Status           10000 non-null  object
dtypes: int64(5), object(17)
memory usage: 1.7+ MB

In [39]:
# 1. ID열 제거
soduk1.drop('ID', axis=1 ,inplace = True)

In [40]:
def classify_age(age):
    if age <= 17:
        return 'Child'
    elif 18 <= age <= 35:
        return 'Youth'
    elif 36 <= age <= 65:
        return 'Middle'
    else:
        return 'Silver'
soduk1['Age_Category'] = soduk1['Age'].apply(classify_age)

soduk1['Age_Category']

0       Silver
1       Middle
2        Youth
3       Middle
4        Child
         ...
9995     Youth
9996     Youth
9997     Youth
9998     Child
9999     Youth
Name: Age_Category, Length: 10000, dtype: object

In [41]:
soduk1['Education_Status']

0                          High Junior
1                     Elementary (5-6)
2                          High Junior
3       Associates degree (Vocational)
4                             Children
                     ...
9995                  Bachelors degree
9996                           College
9997                     High graduate
9998                          Children
9999                     High graduate
Name: Education_Status, Length: 10000, dtype: object

In [42]:
def Education(edu):
    if  edu == "High Freshman" or edu == "High Junior" or edu == "High Sophomore" or edu == "High Senior":
        return 'High'
    elif edu == "Elementary (5-6)" or edu == "Elementary (1-4)":
        return 'Elementary'
    elif edu == 'Middle (7-8)':
        return 'Middle'
    else:
        return edu
soduk1['Education_Category'] = soduk1['Education_Status'].apply(Education)

soduk1['Education_Category']

0                                 High
1                           Elementary
2                                 High
3       Associates degree (Vocational)
4                             Children
                     ...
9995                  Bachelors degree
9996                           College
9997                     High graduate
9998                          Children
9999                     High graduate
Name: Education_Category, Length: 10000, dtype: object

In [43]:
soduk1['Education_Category'].value_counts()

Education_Category
High graduate                     3173
College                           1935
High                              1248
Bachelors degree                  1041
Children                          1033
Associates degree (Vocational)     381
Middle                             303
Associates degree (Academic)       284
Masters degree                     237
Elementary                         218
Professional degree                 74
Doctorate degree                    41
Kindergarten                        32
Name: count, dtype: int64

In [44]:
def classify_working_week(weeks):
    if weeks == 0:
        return 'Not_Working'
    elif 1 <= weeks <= 13:
        return 'Part-Time'
    elif 14 <= weeks <= 26:
        return 'Semi-Full-Time'
    else:
        return 'Full-Time'

soduk1['Working_Category'] = soduk1['Working_Week (Yearly)'].apply(classify_working_week)
soduk1['Working_Category']

0       Not_Working
1       Not_Working
2         Full-Time
3         Full-Time
4       Not_Working
           ...
9995      Full-Time
9996      Full-Time
9997      Part-Time
9998    Not_Working
9999      Full-Time
Name: Working_Category, Length: 10000, dtype: object

In [45]:
stack = 0
search = soduk1['Industry_Status'] 
find = soduk1['Occupation_Status'] 
for i in range(len(search)):
    if search[i] == 'Not in universe or children':
        if find[i] =='Unknown':
            stack+=1
print(stack)

2316

In [46]:
# 출생지는 중요하다. 미국과 대륙을 나눠야 한다. 
def classify_country(country):
    if country == 'US' or country == 'Outlying-U S (Guam USVI etc)':
        return 'US'
    elif country in ['Mexico', 'Puerto-Rico', 'Cuba', 'Dominican-Republic', 'El-Salvador', 'Guatemala', 'Honduras', 'Nicaragua', 'Panama']:
        return 'North_America'
    elif country in ['Columbia', 'Ecuador', 'Peru']:
        return 'South_America'
    elif country in ['Philippines', 'India', 'South Korea', 'Vietnam', 'Japan', 'China', 'Taiwan', 'Hong Kong', 'Cambodia', 'Laos', 'Thailand']:
        return 'Asia'
    elif country in ['Germany', 'Canada', 'England', 'Poland', 'Italy', 'Portugal', 'Ireland', 'France', 'Greece', 'Scotland', 'Yugoslavia', 'Hungary', 'Holand-Netherlands']:
        return 'Europe'
    else:
        return 'Unknown'

# 새로운 카테고리 열 추가
soduk1['Birth_Country_Category'] = soduk1['Birth_Country'].apply(classify_country)
# 아프리카와 오세아니아 출신 사람들은 아마 Unknown에 있을 것이다.

In [47]:
soduk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     20000 non-null  int64
 1   Gender                  20000 non-null  object
 2   Education_Status        20000 non-null  object
 3   Employment_Status       20000 non-null  object
 4   Working_Week (Yearly)   20000 non-null  int64
 5   Industry_Status         20000 non-null  object
 6   Occupation_Status       20000 non-null  object
 7   Race                    20000 non-null  object
 8   Hispanic_Origin         20000 non-null  object
 9   Martial_Status          20000 non-null  object
 10  Household_Status        20000 non-null  object
 11  Household_Summary       20000 non-null  object
 12  Citizenship             20000 non-null  object
 13  Birth_Country           20000 non-null  object
 14  Birth_Country (Father)  20000 non-null  object
 15  Birth_Country (Mother)  20000 non-null  object
 16  Tax_Status              20000 non-null  object
 17  Gains                   20000 non-null  int64
 18  Losses                  20000 non-null  int64
 19  Dividends               20000 non-null  int64
 20  Income_Status           20000 non-null  object
 21  Income                  20000 non-null  int64
 22  Age_Category            20000 non-null  object
 23  Education_Category      20000 non-null  object
 24  Working_Category        20000 non-null  object
 25  Birth_Country_Category  20000 non-null  object
dtypes: int64(6), object(20)
memory usage: 4.0+ MB

In [48]:
columns_to_encode = [
    'Age_Category', 'Gender', 'Education_Category', 'Working_Category', 
    'Occupation_Status', 'Race', 'Martial_Status', 'Household_Summary', 
    'Citizenship', 'Birth_Country_Category', 'Tax_Status', 'Income_Status'
]

# 지정된 열에 대해서만 원-핫 인코딩 적용
soduk_encoded1 = pd.get_dummies(soduk1, columns=columns_to_encode)

In [49]:
soduk_encoded1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 91 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Age                                                                  10000 non-null  int64
 1   Education_Status                                                     10000 non-null  object
 2   Employment_Status                                                    10000 non-null  object
 3   Working_Week (Yearly)                                                10000 non-null  int64
 4   Industry_Status                                                      10000 non-null  object
 5   Hispanic_Origin                                                      10000 non-null  object
 6   Household_Status                                                     9999 non-null   object
 7   Birth_Country                                                        10000 non-null  object
 8   Birth_Country (Father)                                               10000 non-null  object
 9   Birth_Country (Mother)                                               10000 non-null  object
 10  Gains                                                                10000 non-null  int64
 11  Losses                                                               10000 non-null  int64
 12  Dividends                                                            10000 non-null  int64
 13  Age_Category_Child                                                   10000 non-null  bool
 14  Age_Category_Middle                                                  10000 non-null  bool
 15  Age_Category_Silver                                                  10000 non-null  bool
 16  Age_Category_Youth                                                   10000 non-null  bool
 17  Gender_F                                                             10000 non-null  bool
 18  Gender_M                                                             10000 non-null  bool
 19  Education_Category_Associates degree (Academic)                      10000 non-null  bool
 20  Education_Category_Associates degree (Vocational)                    10000 non-null  bool
 21  Education_Category_Bachelors degree                                  10000 non-null  bool
 22  Education_Category_Children                                          10000 non-null  bool
 23  Education_Category_College                                           10000 non-null  bool
 24  Education_Category_Doctorate degree                                  10000 non-null  bool
 25  Education_Category_Elementary                                        10000 non-null  bool
 26  Education_Category_High                                              10000 non-null  bool
 27  Education_Category_High graduate                                     10000 non-null  bool
 28  Education_Category_Kindergarten                                      10000 non-null  bool
 29  Education_Category_Masters degree                                    10000 non-null  bool
 30  Education_Category_Middle                                            10000 non-null  bool
 31  Education_Category_Professional degree                               10000 non-null  bool
 32  Working_Category_Full-Time                                           10000 non-null  bool
 33  Working_Category_Not_Working                                         10000 non-null  bool
 34  Working_Category_Part-Time                                           10000 non-null  bool
 35  Working_Category_Semi-Full-Time                                      10000 non-null  bool
 36  Occupation_Status_Admin Support (include Clerical)                   10000 non-null  bool
 37  Occupation_Status_Armed Forces                                       10000 non-null  bool
 38  Occupation_Status_Craft & Repair                                     10000 non-null  bool
 39  Occupation_Status_Farming & Forestry & Fishing                       10000 non-null  bool
 40  Occupation_Status_Handlers/Cleaners                                  10000 non-null  bool
 41  Occupation_Status_Machine Operators & Inspectors                     10000 non-null  bool
 42  Occupation_Status_Management                                         10000 non-null  bool
 43  Occupation_Status_Private Household Services                         10000 non-null  bool
 44  Occupation_Status_Professional                                       10000 non-null  bool
 45  Occupation_Status_Protective Services                                10000 non-null  bool
 46  Occupation_Status_Sales                                              10000 non-null  bool
 47  Occupation_Status_Services                                           10000 non-null  bool
 48  Occupation_Status_Technicians & Support                              10000 non-null  bool
 49  Occupation_Status_Transportation                                     10000 non-null  bool
 50  Occupation_Status_Unknown                                            10000 non-null  bool
 51  Race_Asian/Pacific                                                   10000 non-null  bool
 52  Race_Black                                                           10000 non-null  bool
 53  Race_Native American/Aleut/Eskimo                                    10000 non-null  bool
 54  Race_Other                                                           10000 non-null  bool
 55  Race_White                                                           10000 non-null  bool
 56  Martial_Status_Divorced                                              10000 non-null  bool
 57  Martial_Status_Married                                               10000 non-null  bool
 58  Martial_Status_Married (Armed Force Spouse)                          10000 non-null  bool
 59  Martial_Status_Married (Spouse Absent)                               10000 non-null  bool
 60  Martial_Status_Separated                                             10000 non-null  bool
 61  Martial_Status_Single                                                10000 non-null  bool
 62  Martial_Status_Widowed                                               10000 non-null  bool
 63  Household_Summary_Child 18 or older                                  10000 non-null  bool
 64  Household_Summary_Child under 18 ever married                        10000 non-null  bool
 65  Household_Summary_Child under 18 never married                       10000 non-null  bool
 66  Household_Summary_Group Quarters- Secondary individual               10000 non-null  bool
 67  Household_Summary_Householder                                        10000 non-null  bool
 68  Household_Summary_Nonrelative of householder                         10000 non-null  bool
 69  Household_Summary_Other relative of householder                      10000 non-null  bool
 70  Household_Summary_Spouse of householder                              10000 non-null  bool
 71  Citizenship_Foreign-born (Naturalized US Citizen)                    10000 non-null  bool
 72  Citizenship_Foreign-born (Non-US Citizen)                            10000 non-null  bool
 73  Citizenship_Native                                                   10000 non-null  bool
 74  Citizenship_Native (Born Abroad)                                     10000 non-null  bool
 75  Citizenship_Native (Born in Puerto Rico or US Outlying)              10000 non-null  bool
 76  Birth_Country_Category_Asia                                          10000 non-null  bool
 77  Birth_Country_Category_Europe                                        10000 non-null  bool
 78  Birth_Country_Category_North_America                                 10000 non-null  bool
 79  Birth_Country_Category_South_America                                 10000 non-null  bool
 80  Birth_Country_Category_US                                            10000 non-null  bool
 81  Birth_Country_Category_Unknown                                       10000 non-null  bool
 82  Tax_Status_Head of Household (HOH)                                   10000 non-null  bool
 83  Tax_Status_Married Filling Jointly both over 65 (MFJ)                10000 non-null  bool
 84  Tax_Status_Married Filling Jointly both under 65 (MFJ)               10000 non-null  bool
 85  Tax_Status_Married Filling Jointly one over 65 & one under 65 (MFJ)  10000 non-null  bool
 86  Tax_Status_Nonfiler                                                  10000 non-null  bool
 87  Tax_Status_Single                                                    10000 non-null  bool
 88  Income_Status_Over Median                                            10000 non-null  bool
 89  Income_Status_Under Median                                           10000 non-null  bool
 90  Income_Status_Unknown                                                10000 non-null  bool
dtypes: bool(78), int64(5), object(8)
memory usage: 1.7+ MB

In [50]:
# 드랍열 설정
columns_to_drop = [
    "Age", "Education_Status", "Employment_Status", "Working_Week (Yearly)", 
    "Industry_Status", "Hispanic_Origin", "Household_Status", 
    "Birth_Country", "Birth_Country (Father)", "Birth_Country (Mother)", 
    "Gains", "Losses", "Dividends"
]

# 지정된 열들을 드랍
soduk_encoded_dropped1 = soduk_encoded1.drop(columns=columns_to_drop)

# 드랍된 이후의 데이터프레임 확인
soduk_encoded_dropped1

,Age_Category_Child,Age_Category_Middle,Age_Category_Silver,Age_Category_Youth,Gender_F,Gender_M,Education_Category_Associates degree (Academic),Education_Category_Associates degree (Vocational),Education_Category_Bachelors degree,Education_Category_Children,...,Birth_Country_Category_Unknown,Tax_Status_Head of Household (HOH),Tax_Status_Married Filling Jointly both over 65 (MFJ),Tax_Status_Married Filling Jointly both under 65 (MFJ),Tax_Status_Married Filling Jointly one over 65 & one under 65 (MFJ),Tax_Status_Nonfiler,Tax_Status_Single,Income_Status_Over Median,Income_Status_Under Median,Income_Status_Unknown
0,False,False,True,False,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
1,False,True,False,False,False,True,False,False,False,False,...,False,False,False,False,False,True,False,False,True,False
2,False,False,False,True,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
3,False,True,False,False,True,False,False,True,False,False,...,False,False,False,True,False,False,False,False,False,True
4,True,False,False,False,False,True,False,False,False,True,...,False,False,False,False,False,True,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,False,False,False,True,False,True,False,False,True,False,...,False,False,False,False,False,False,True,False,True,False
9996,False,False,False,True,False,True,False,False,False,False,...,False,False,False,True,False,False,False,False,True,False
9997,False,False,False,True,False,True,False,False,False,False,...,False,False,False,False,False,True,False,False,True,False
9998,True,False,False,False,False,True,False,False,False,True,...,False,False,False,False,False,True,False,False,True,False
9999,False,False,False,True,False,True,False,False,False,False,...,False,False,False,True,False,False,False,False,True,False

In [51]:
y_pred_test = gbr.predict(soduk_encoded_dropped1)

C:\Users\elcco\anaconda3\Lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():

In [52]:
# 예측 결과를 DataFrame으로 변환합니다.
predictions = pd.DataFrame(y_pred_test, columns=['Predicted_Income'])

# 예측 결과를 CSV 파일로 저장합니다. index=False를 설정하여 인덱스가 파일에 포함되지 않도록 합니다.
predictions.to_csv('predictions.csv', index=False)

In [55]:
# 예측 결과 파일과 샘플 제출 파일을 불러옵니다.
predictions = pd.read_csv('predictions.csv')
sample_submission = pd.read_csv('sample_submission.csv')

# 샘플 제출 파일의 'Income' 열을 예측 결과로 업데이트합니다.
sample_submission['Income'] = predictions['Predicted_Income']

# 음수 예측값을 확인하고 처리합니다. (예를 들어, 모든 음수 값을 0으로 설정할 수 있습니다.)
sample_submission['Income'] = sample_submission['Income'].apply(lambda x: max(x, 0))

# 결과 확인
print(sample_submission.head())

# 수정된 샘플 제출 파일을 새로운 CSV 파일로 저장합니다.
sample_submission.to_csv('final_submission.csv', index=False)

          ID      Income
0  TEST_0000    3.702973
1  TEST_0001   18.535994
2  TEST_0002  426.846935
3  TEST_0003  676.712478
4  TEST_0004   17.293973